<section class="left-view">
    <div class="poll-view clear-fix">
        <div class="poll-view-head">
            <h2 ng-bind="pollResult.Question"></h2>
        </div>
        <div class="poll-result-details">
            <img class="poll-result-img" src="{{pollResult.PollImageLink}}" />
            <h3>Votes</h3>
            <highchart config="chartConfig"></highchart>
        </div>
        <div class="poll-result-comments" ng-show="authorized">
            <h3>Comments</h3>
            <div class="poll-new-comment">
                <textarea rows="4" placeholder="New comment..." ng-model="newCommentText" class="poll-new-comment-input" />
                <button ng-click="submitComment(null, newCommentText)" ng-disabled="!newCommentText" class="poll-new-comment-button">Post</button>
            </div>
            <div ng-repeat="comment in pollResult.Comments" class="poll-result-top-comment">
                <span class="comment-text">{{comment.CommentText}}</span>
                <span class="comment-head">{{comment.UserName}} | {{comment.CommentDate | fromNow}}</span>
                <!-- subcomments -->
                <span ng-repeat-start="subComment in comment.Comments" class="comment-text">{{subComment.CommentText}}</span>
                <span ng-repeat-end class="comment-head">{{subComment.UserName}} | {{subComment.CommentDate | fromNow}}</span>
                <!-- /subcomments -->
                <input type="text" placeholder="Reply..." ng-model="comment.replyText" class="poll-new-comment-input" />
                <button ng-click="submitComment(comment, comment.replyText)" ng-disabled="!comment.replyText" class="poll-new-comment-button">Reply</button>
            </div>
        </div>
    </div>
    <button ng-show="pollResult && pollResult.IsPollOwnedByUser" ng-disabled="!canDelete()" ng-click="delete()">Delete Poll</button>
    <a class="block-link" ng-hide="authorized" href="/">Sign In / Register</a>
    <a class="block-link" ng-show="authorized" href="/#/polls">Back to polls</a>
        
    <div class="topbar topbar-info" ng-show="infoMessage" title="{{infoMessage}}"><span ng-bind="infoMessage"></span></div>
    <div class="topbar topbar-error" ng-show="errorMessage" title="{{errorMessage}}"><span ng-bind="errorMessage"></span></div>
</section>