<section class="left-view clear-fix">
    <img class="poll-view-img" ng-src="{{currentPoll.PollImageLink}}" ng-show="currentPoll.PollImageLink" alt="Poll image"
         onerror='this.style.visibility="hidden"' />
    <div class="poll-view">
        <h2 ng-bind="currentPoll.PollQuestion"></h2>
        <h3 ng-bind="currentPoll.PollDescription"></h3>
        <ul>
            <li class="poll-option" ng-repeat="option in currentPoll.PollOptions">
                <input type="checkbox" id="{{'option' + option.PollOptionID}}" ng-model="option.Selected" />
                <label for="{{'option' + option.PollOptionID}}">{{option.OptionText}}</label>
            </li>
        </ul>
        <button ng-click="submit()" ng-disabled="!canSubmit()">Submit My Vote!</button>
        <button ng-show="canDelete()" ng-click="delete()">Delete Poll</button>
        <a class="block-link" href="/#/pollResult/{{currentPoll.PollID}}">View results</a>
        <a class="block-link" href="/#/polls">Back to polls</a>
    </div>
    <div class="topbar topbar-info" ng-show="infoMessage" title="{{infoMessage}}"><span ng-bind="infoMessage"></span></div>
    <div class="topbar topbar-error" ng-show="errorMessage" title="{{errorMessage}}"><span ng-bind="errorMessage"></span></div>
</section>