.landing-head {
  padding-top: 2em;
  font-size: 3em;
}

.landing-hmenu {
  padding-top: 0.5em;
}
.landing-hmenu li {
  display: inline-block;
  padding: 1em 0;
  margin: 0.25em;
  width: 7em;
  background-color: #333;
  color: #eee;
  cursor: pointer;
  font-size: 1.5em;
}

.landing-hmenu.busy li {
  cursor: wait;
  background-color: #5a5a5a;
  color: #ddd;
  border: 1px solid #333;
}
