.poll-actions {
  padding-bottom: 0;
}

  .poll-actions label, .poll-actions select {
    display: inline-block;
    margin-right: 1em;
  }

.poll-group {
  clear: both;
}

  .poll-group h2 {
    padding-top: 0.2em;
  }

.poll-box {
  display: block;
  cursor: pointer;
  width: 15em;
  height: 15em;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #303030;
  /*background-color: #262626;*/
  text-decoration: none;
}

.poll-info {
  margin-top: 64%;
  height: 36%;
  padding-left: 1em;
  background-color: #262626;
   opacity: 0.8;
  position: relative;
}

  .poll-info h3 {
    color: #eee;
    padding: 0.5em 0.25em 0 0;
    font-size: 0.95em;
    height: 4em;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

.poll-info h4 {
    color: #999;
    position: absolute;
    bottom: 0;
    font-size: 0.9em;
    padding-bottom: 0.5em;
  }

.poll-option {
  margin-top: 1em;
}
  .poll-option label {
    cursor: pointer;
  }

.poll-view {
  padding-right: 5%;
  margin-bottom: 1em;
}

.poll-view-head {
  width: 100%;
  margin-bottom: 1em;
}

.poll-view-img {
  padding-top: 3em;
  max-width: 48%;
  max-height: none;
  float: left;
}

.poll-result-img {
  max-width: 100%;
  max-height: 12em;
}

.poll-result-details {
  width: 48%;
  float: left;
}

.highcharts-container {
  margin-top: 0.25em;
  /*border: 1px solid #ccb623;*/
}
.poll-result-comments {
  width: 48%;
  float: right;
}

  .poll-result-comments h3 {
    padding-top: 0;
  }

.poll-result-top-comment {
  background-color: #fafafa;
  background-color: rgba(250, 250, 250, 0.76);
  /*border: 1px solid #ccb623;*/
  padding: 0.5em;
  margin-bottom: 1em;
  padding-bottom: 3em;
  width: 32em;
  max-width: 100%;
  clear: both;
}

.poll-new-comment {
  width: 32em;
  max-width: 100%;
  clear: both;
  padding-bottom: 3em;
  color: #333;
}

  .poll-new-comment-input {
    width: 100% !important;
    display: block;
    clear: both;
    font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    /*border: 1px solid #ccb623;*/
    background-color: #fff;
    background-color: rgba(255, 255, 255, .75);
    font-size: 1em;
    padding-left: 0.5em;
  }

  .poll-new-comment-button {
    margin: 0.25em 0 0.5em 0;
    float: right;
    visibility: hidden;
  }

  .poll-new-comment-input:focus + .poll-new-comment-button,
  .poll-new-comment-button:focus {
    visibility: visible;
  }

.poll-result-subcomment {
  margin-left: 2em;
}

.comment-head {
  color: #888;
  float: right;
}

.comment-text {
  margin-bottom: 0.5em;
  float: left;
  clear: both;
  color: #333;
}

.result-chart {
  height: 500px;
  max-height: 50%;
}

svg text {
  font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

@media screen and (max-width: 60em) {
  .site-header {
    position: relative;
  }
  .main-content {
    margin-top: 0.5em;
  }

  .poll-view h2 {
    font-size: 2em;
  }

  .poll-result-img {
    padding: 0.5em 0.5em 0.5em 0.25em;
  }

  .poll-result-details {
    float: none;
    width: 100%;
    max-width: 100%
  }

  .poll-result-comments {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 25em) {
  .poll-view {
    width: 100%;
    padding: 0;
    max-width: none;
  }

  .poll-view-img {
    padding: 0.5em 0.5em 0.5em 0.25em;
    max-width: 100%;
    max-height: 35%;
  }

  .highcharts-container, .poll-results-comments {
    margin-right: 1em;
  }
}
