/* reset */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

sup {
  font-size: smaller;
  vertical-align: +0.4em;
}

sub {
  font-size: smaller;
  vertical-align: -0.25em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* font-face */
@font-face {
  font-family: 'CreteRoundRegular';
  src: url('/Content/fonts/CreteRound-Regular-webfont.eot');
  src: url('/Content/fonts/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/CreteRound-Regular-webfont.woff') format('woff'), url('/Content/fonts/CreteRound-Regular-webfont.ttf') format('truetype'), url('/Content/fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* basic styles */
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #333333; /* Old browsers */
  /*background: #ffd103;*/ /* Old browsers */
  background: url(/Content/checkmark.svg) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#333333)) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, -webkit-linear-gradient(top, #333333 0%, #333333 100%) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, -moz-linear-gradient(top, #333333 0%, #333333 100%) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, -ms-linear-gradient(top, #333333 0%, #333333 100%) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, -o-linear-gradient(top, #333333 0%, #333333 100%) no-repeat left top;
  background: url(/Content/checkmark.svg) no-repeat left top, linear-gradient(to bottom, #333333 0%, #333333 100%) no-repeat left top;
  background-attachment: fixed;
  background-position: center;
  font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /*color: #151515;*/
  color: #ffffff;
  font-weight: normal;
}

.centered-view {
  text-align: center;
}

.left-view {
  padding-left: 5em;
}

  .left-view h2 {
    font-size: 3em;
    padding-top: 0.5em;
  }

  .left-view h3 {
    font-weight: lighter;
    padding-top: 1em;
  }

/* outer layout */

.site-header {
  width: 100%;
  padding: 0.5em 0 0.5em 5em;
  display: inline-block;
  background-color: #333;
  /*background-color: transparent;*/
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

  .site-header h1 {
    font-family: CreteRoundRegular, Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
  }

    .site-header h1 a {
      /*color: #fc0;*/
      color: #ff6600;
      text-decoration: none;
    }

  .site-header h1, .site-header h2 {
    padding-right: 0.5em;
    display: inline-block;
    /*color: #fc0;*/
    color: #ffffff;
  }

.main-content {
  position: relative;
  margin: 4em auto 0 auto;
}

/* forms */
fieldset {
  border: none;
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-left: 0;
}

  fieldset legend {
    font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 2em;
    /*color: #333;*/
    color: #ffffff;
    padding-top: 0.5em;
  }

form {
  padding-bottom: 1em;
}

.stacked-form-column {
  float: left;
  margin-right: 2.5em;
}

.stacked-form label, .stacked-form input[type=text], .stacked-form select {
  display: block;
}

label {
  margin-top: .66em;
  font-weight: lighter;
}

input[type=text],
input[type=email],
input[type=date],
input[type=tel],
select {
  line-height: 1.5em;
  margin: 0.25em 0 0 0;
  font-size: 1em;
  font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: #333;
}

input[type=text],
input[type=email] {
  width: 25em;
}

input[type=date],
input[type=tel],
select {
  width: 15em;
}

input[type=number],
select {
  color: #333;
}

button,
input[type=button],
input[type=submit] {
  margin: 1.5em 0.5em 0 0;
  padding: 0.75em;
  color: #333;
}

input.ng-dirty.ng-invalid {
  border: #c33 solid 1px;
}

.form-error-block {
  height: 1em;
}

.form-error-message, .form-required {
  color: #c33;
}

/* utility */

.accordionHead {
  cursor: pointer;
  background-color: #ff6600;
  font-size: 2em;
  padding-top: 0.25em !important;
  padding-left: 0.25em;
  margin-top: 1em;
  width: 15em;
}

  .accordionHead:hover {
    background-color: #ff6600;
  }

.accordion {
  background-color: #ffffff;
  background-color: #51514f;
  color: #ffffff;
  /*border: 1px solid #ffd033;*/
}

.ng-hide {
  display: block !important;
  visibility: hidden;
}

.auth-message {
  display: inline-block;
  padding-right: 2em;
  float: right;
  color: #ddd;
}

.newpolls-message {
  display: inline-block;
  margin-right: 1em;
  padding: 1px 4px;
  float: right;
  color: #fff;
  background-color: #ff6600;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

  .newpolls-message button {
    padding: 1px 2px;
    margin: 0;
    background-color: #ff6600;
    border: 1px solid #333;
    cursor: pointer;
  }

.logout-link {
  cursor: pointer;
  color: #00bfff;
  text-decoration: underline;
}

.block-link {
  display: inline-block;
  margin-left: 0.5em;
}

.progress {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 0;
  background-color: #666;
  color: #efefef;
  text-align: center;
  vertical-align: middle;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  vertical-align: middle;
  padding: 0.5em 0.25em 0.25em 5em;
  white-space: pre;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

  .topbar:hover {
    height: auto;
    border-bottom: #e77 solid 1px;
    -webkit-box-shadow: 0 1px 3px 1px #999;
    -ms-box-shadow: 0 1px 3px 1px #999;
    box-shadow: 0 1px 3px 1px #999;
  }

.topbar-error {
  background-color: #f88;
}

.topbar-info {
   margin-top: 0.5em;
  background-color: #ff6600;
  border-bottom: 1px solid #333;
}

/* responsive */
@media screen and (max-width: 800px) {
  .stacked-form-column {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .site-header {
    padding: 0.5em 0 0.5em 0.5em;
  }

  .left-view {
    padding-left: 5px;
    padding-right: 5px;
  }

    .left-view h2 {
      font-size: 2.5em;
      padding-top: 0.25em;
    }

    .left-view h3 {
      padding-top: 0.125em;
    }

  input[type=text],
  input[type=email],
  input[type=date],
  input[type=tel],
  select {
    width: 95%;
  }
}

.my-datepicker .form-control {
   height: 1.75em;
  line-height: 1.5em;
   /*margin-bottom: 33px;*/
   padding: 0;
  margin: 0.1em 0 0 0;
  font-size: 1em;
  font-family: "Segoe UI", "Segoe", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  width: 15em;
}

.my-datepicker {
   width: 15em;
}

.my-datepicker .btn {
   padding: 1px 5px;
   margin-top: 2px;
}
