<div class="left-view">
    <form class="poll-actions">
        <label for="filter">View: </label>
        <select id="filter" ng-model="vm.filterBy" ng-options="filter.name for filter in vm.filters"></select>
        <button ng-click="vm.addPoll()">Add a Poll</button>
    </form>

    <h2 ng-hide="vm.pollGroups" ng-bind="vm.message"></h2>
    <div class="poll-group" ng-repeat="group in vm.pollGroups">
        <h2>{{group[0].Category}}</h2>
        <a class="poll-box" ng-click="vm.viewPoll(poll.Id)" ng-repeat="poll in group" back-img="{{vm.getBackImg(poll.ImageLink)}}">
            <div class="poll-info">
                <h3>{{poll.Question}}</h3>
                <h4>{{poll.SubmissionCount}} {{vm.responseText(poll.SubmissionCount)}}</h4>
            </div>
        </a>
    </div>
</div>
