<div class="jumbotron">
    <h1>MyVote AppServer</h1>
    <p class="lead">RESTful Web API back end serving up data to various MyVote clients.</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>MyVote on GitHub</h2>
        <p>Check out the source for the entire MyVote Solution located on GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/Magenic/MyVote">MyVote on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
