<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSLA-Android" version="4.5.601" targetFramework="MonoAndroid42" />
  <package id="CSLA-Core" version="4.5.601" targetFramework="MonoAndroid42" />
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.3" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Forms" version="1.2.3.6246-pre1" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Forms.Labs" version="1.1.1-beta7" targetFramework="MonoAndroid40" />
</packages>